body{
    height: calc(100vh - 8em);
    color: rgba(255,255,255,.75);
    font-family: 'Anonymous Pro'; 
    background-color: rgb(25,25,25);
    -ms-overflow-style: none;
    text-align: center;

}

h1 {
    font-size: 1000%;
    margin-top: 10%;
    margin-bottom: 0%;
}