
/* Global */
html{
  min-height: 100%;
}
body{

    margin: auto;
  color: rgba(255,255,255,.75);
  font-family: 'Roboto', sans-serif;
  background-color: rgb(25,25,25);
  -ms-overflow-style: none;
  overflow-x: hidden;
  overflow-y: scroll;
  
}

.navbar {
    position: fixed;
    display: flex;
    margin: 0;
    z-index: 1;
    width: 100%;
    background-color: black;
  }
  
  .navbar ul {
    display: flex;
    list-style: none;
    width: 100%;
    padding: 0;
    justify-content: space-around;
    font-size: 1.5rem;
  }
  
  .navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #f4f4f4;
    font-size: 100%;
  }
  
  .navbar ul li a:hover {
    color: skyblue;
  }

.button-list ul li {
    padding-left: 0.5rem;
}

.button-list ul {
    list-style-type: none;
}


section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    padding-top: 0;
    margin: 0em;
    font-size: 2rem;
}

section h1 {
  margin-top: 80px;
}

.lead {
  width: 80%;
  line-height: 1.2;
}

 p {
  font-size: 1.5rem;
}

::-webkit-scrollbar {
  display: none;
}

a {
  color: white;
  text-decoration: underline;
    font-weight: bold;
  text-transform: uppercase;
}

#home ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  position: absolute;
  bottom: 50px;
}

#home ul li { 
  text-decoration: none;
  display: inline-block;
  font-size: 100%;
  padding: 10px;
 }


 .btn {
  background-color: rgba(255,255,255,.75);;
  border: none; 
  color: black;
  padding: 12px 16px;
  font-size: 16px; 
  cursor: pointer;
     border-radius: 3px;
}

.btn:hover {
  background-color: grey;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.x {
    position: relative;
    font-size: 1rem;
    padding-top: 20px;
    margin-bottom: 5px;
    display: block;
}

.x input, textarea {
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: rgba(0,0,0,0.81);
    padding: 12px;
    border-radius: 3px;
    width: 40rem;
    outline: none;
    font-size: 14px;
    color: white;
}

.x textarea {
    resize: vertical;
    height: 20rem;
    width: 40rem;
}

.x .placeholder {
    position: absolute;
    left: 12px;
    top: calc(50% + 10px);
    transform: translateY(-50%);
    color: white;
    alignment: center;
    transition:
            top 0.3s ease,
            color 0.3s ease,
            font-size 0.3s ease;
}

.x input.dirty + .placeholder,
.x input:valid + .placeholder,
.x input:focus + .placeholder {
    top: 10px;
    font-size: 10px;
    color: white;
}

.x textarea.dirty + .placeholder,
.x textarea:valid + .placeholder,
.x textarea:focus + .placeholder {
    top: 10px;
    font-size: 10px;
    color: white;
}

#contact p{
    font-size: 1rem;
}

